<h1 class="row justify-content-center align-items-center">Nuevo proyecto</h1>

<%= render "form", proyecto: @proyecto %>

<br>

<div class="container d-flex align-items-center justify-content-center">
  <%= link_to "Volver a lista proyectos", proyectos_path, class: "btn btn-secondary" %>
</div>
