
<h1 class="d-flex aligns-items-center justify-content-center">Nuevo proyecto</h1>

<%= render "form", proyecto: @proyecto %>

<br>

<div class="d-flex aligns-items-center justify-content-center">
  <%= link_to "Volver a lista proyectos", proyectos_path, class: "btn btn-secondary" %>
</div>
<br>